<h5>Exemplos de Pipes</h5>

<p>Título: {{ livro.titulo | uppercase | camelCase }}</p>
<p>Estrelas: {{ livro.rating | number:'2.1-2' }}</p>
<p>Número de páginas: {{ livro.numeroPaginas | number }}</p>
<p>Preço: {{ livro.preco | currency:'BRL':true }}</p>
<p>Preço: {{ livro.dataLancamento | date:'dd-MMM-yyyy' }}</p>
<p>Link: <a href="{{ livro.url }}" target="_blank">Github</a></p>
<br>
<p>Livro: {{ livro | json }}</p>

<input type="text" [(ngModel)]="filtro">
<br>
<input type="text" #novoValor>
<button (click)="addCurso(novoValor.value)">Add Curso</button>

<h5>Pipe Puro</h5>

<ul>
  <li *ngFor="let item of livros | filtroArray:filtro">
    {{ item }}
  </li>
</ul>

<h5>Pipe Impuro</h5>

<ul>
  <li *ngFor="let item of livros | filtroArrayImpuro:filtro">
    {{ item }}
  </li>
</ul>

<h5>Maneira correta de usar filtro nos projetos</h5>

<ul>
  <li *ngFor="let item of obterCursos()">
    {{ item }}
  </li>
</ul>

<h5>Pipe Async</h5>
<p> {{ valorAsync | async }}</p>

<p> {{ valorAsync2 | async }}</p>